input{
	  background-color:black;size:50;color:gray;border:double;border-color:gray;
	  font-style:italic;text-align:center;border-radius:30px;}

TEXTarea{
	background-color:black; color:gray; border:double;border-color:gray;border-radius:20px;
    font-style:oblique;font-weight:bold;text-align:center;position:relative;
	
	}
	
P{
	color:gray;font-style:oblique;font-weight:bold;	}
h1{
	color:gray; 
	background-color:black;
	font-style:  oblique ;
	font-size:auto;
	border:double;
	border-radius:10px;
	height:80px;
	width:100vw;
	position:sticky;
	
	
form{    
   
	border:double ;
	border-color:black;
     border-radius:30px;
     font-size:15px;


}    
label select{
	 background-color:black; color:darkgray; border:double;border-color:gray;border-radius:20px;
     font-style:oblique;font-weight:bold;text-align:center;position:relative;}
	
		
		
	


footer{
	background-color:black;border:double gray;color:gray;BORDER-radius:10px;height:15%;font-size:25px;
	border-radius:10px;
	
}
/* Set the background color of body to tan */
body {
	background-color: tan;
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
	body {
	  background-color: blue;
	}
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
	body {
	  background-color: olive;
	}
  }
	
